
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <array>
            <true/>
            <string>Hi, Wassup?
                </string>
        </array>
        <array>
            <false/>
            <string>All&apos;s well, what about you?</string>
        </array>
        <array>
            <true/>
            <string>Same here.. </string>
        </array>
        <array>
            <false/>
            <string>There are many words i could use to describe how I feel about you right now. None of them are nice ..</string>
        </array>
        <array>
            <true/>
            <string>To know me is to love me, to hurt me is to dig your own grave. ..</string>
        </array>
        <array>
            <false/>
            <string>I want a tazer :) :( :)</string>
        </array>
        <array>
            <true/>
            <string>Ever feel like stapling [] []someones ear to their desk and slam a sticky note on their head that says &quot;Help me, my ear is stuck to the table&quot;? </string>
        </array>
        <array>
            <false/>
            <string>f you&apos;re looking for the:) perfect woman, you have two options. Mother Teresa, or Barbie... One of them is dead, sorry to hear you play with dolls. </string>
        </array>
        <array>
            <true/>
            <string> I DID NOT TRIP! The floor  just looked like it REALLY needed a hug :)
            </string>
        </array>
        <array>
            <true/>
            <string>&quot;Dear children!&quot; </string>
        </array>
        <array>
            <false/>
            <string>Of friendship on :( inhabiting diminution discovered as. Did friendly eat breeding building few nor.
                Object he barton no effect played valley afford.
            </string>
        </array>
        <array>
            <true/>
            <string>Period so to oppose we little :( :( seeing or branch. Announcing contrasted not imprudence add frequently you possession mrs. Period saw his houses square and misery. Hour had held lain give yet.</string>
        </array>
        <array>
            <false/>
            <string>Difficulty on insensible reasonable in. From as went he they. Preference themselves me as thoroughly partiality considered on in :) estimating.  </string>
        </array>
        <array>
            <false/>
            <string>Middletons acceptance discovered projecting so is so or.
                In or attachment inquietude remarkably comparison at an.
                Is surrounded prosperous :) stimulated am me discretion expression
            </string>
        </array>
        <array>
            <true/>
            <string>Can we please stop this nonsense?</string>
        </array>
        <array>
            <false/>
            <string>Ok, take care.</string>
        </array>
        <array>
            <false/>
            <string>http://www.abc.com</string>
        </array>
        <array>
            <false/>
            <string>Hello..</string>
        </array>
        <array>
            <true/>
            <string>Hi, Waasdfkjd fehirwoerhg wuhgweo howpe hweouv wfuvodovbwuofvbdvb wdvdwuobv wouf vbfduovb wouvb owudfbvodcwbv cdubvuwbv fpubv puwfbv ; :) :( ]\ P[[ [] FKSLI EUWEVOoihfsvbdfjvsdk fjvbufbv ubfow vf])vsfdv vw vwvfv wfvfwvwevbh wbv uifbvb b bb   b bbbfwefpewqfu efi epqgeirhgoqerphg pefvfbvwkljvbfqkjbvepub [fvbq[ebvpquefvpoqfudbv[fbqv[qbfv[q8erteq0]9rghdfqvdbiqudbcvkasbc;aodhf;oih ]]]]ssup?</string>
        </array>
        <array>
            <false/>
            <string>All&apos;s well, what about you?</string>
        </array>
        <array>
            <true/>
            <string>Same here..</string>
        </array>
        <array>
            <false/>
            <string>There are many words i could use to describe how I feel about you right now. None of them are nice ..</string>
        </array>
        <array>
            <true/>
            <string>To know me is to love me, to hurt me is to dig your own grave. ..</string>
        </array>
        <array>
            <false/>
            <string>I want a tazer =) </string>
        </array>
        <array>
            <true/>
            <string>Ever feel like stapling someones ear to their desk and slam a sticky note on their head that says &quot;Help me, my ear is stuck to the table&quot;? </string>
        </array>
        <array>
            <false/>
            <string>f you&apos;re looking for the perfect woman, you have two options. Mother Teresa, or Barbie... One of them is dead, sorry to hear you play with dolls. </string>
        </array>
        <array>
            <true/>
            <string> I DID NOT TRIP! The floor just looked like it REALLY needed a hug
            </string>
        </array>
        <array>
            <true/>
            <string>&quot;Dear children!&quot; </string>
        </array>
        <array>
            <false/>
            <string>Of friendship on inhabiting diminution discovered as. Did friendly eat breeding building few nor.
                Object he barton no effect played valley afford.
            </string>
        </array>
        <array>
            <true/>
            <string>Period so to oppose we little seeing or branch. Announcing contrasted not imprudence add frequently you possession mrs. Period saw his houses square and misery. Hour had held lain give yet.</string>
        </array>
        <array>
            <false/>
            <string>Difficulty on insensible reasonable in. From as went he they. Preference themselves me as thoroughly partiality considered on in estimating.  </string>
        </array>
        <array>
            <false/>
            <string>Middletons acceptance discovered projecting so is so or.
                In or attachment inquietude remarkably comparison at an.
                Is surrounded prosperous 24938534253 stimulated am me discretion expression
            </string>
        </array>
        <array>
            <true/>
            <string>Can we please stop this nonsense?</string>
        </array>
        <array>
            <false/>
            <string>Ok, take care.</string>
        </array>
        <array>
            <false/>
            <string>Hello..</string>
        </array>
        <array>
            <true/>
            <string>Hi, Wassup?</string>
        </array>
        <array>
            <false/>
            <string>All&apos;s well, what about you?</string>
        </array>
        <array>
            <true/>
            <string>Same here..:)[]</string>
        </array>
        <array>
            <false/>
            <string>There are []many words i could use to describe how I feel about you right now. None of them are nice ..</string>
        </array>
        <array>
            <true/>
            <string>To know me is to :)love me, to hurt me is to dig your own grave. ..</string>
        </array>
        <array>
            <false/>
            <string>I want a tazer =) </string>
        </array>
     
    </array>
</plist>
