<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <array>
            <false/>
            <string> All&apos;s well, what about you? :) :(</string>
        </array>
        <array>
            <false/>
            <string>Hello..</string>
        </array>
        <array>
            <true/>
            <string>Hi, Wassup?
                </string>
        </array>
        <array>
            <false/>
            <string>All&apos;s well, what about you?</string>
        </array>
        <array>
            <true/>
            <string>Same here.. </string>
        </array>
        <array>
            <false/>
            <string>There are many words  i could use to describe how I feel about you right now. None of them are nice ..</string>
        </array>
        <array>
            <true/>
            <string>To know me is to love me, to hurt me is to dig your own grave. ..</string>
        </array>
        <array>
            <false/>
            <string>I want a tazer :) :( :)</string>
        </array>
        <array>
            <true/>
            <string>Ever feel like stapling someones ear  to their desk and slam a sticky note on their head that says &quot;Help me, my ear is stuck to the table&quot;? </string>
        </array>
        <array>
            <false/>
            <string>f you&apos;re looking for the perfect woman, you have two options. Mother Teresa, or Barbie... One of them is dead, sorry to hear you play with dolls. </string>
        </array>
        <array>
            <true/>
            <string> I DID NOT TRIP! The floor  just looked like it REALLY needed a hug :) 
            </string>
        </array>
    </array>
</plist>
